@import "./components/_login";

html{
    font-family: 'Raleway', sans-serif;
    background-color: #AECCF290;
}

.titulo1{
    text-align: center;
    font-size: 2rem;
}

.titulo2{
    text-align: center;
    font-size: 1.8rem;
}

.subtitulo1{
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

.subtitulo{
    text-align: center;
}

.form1{
    display: flex;
    justify-content: center;
    .formDatosGenerales{
        border: 2px solid #262626;
        border-radius: 1rem;
        padding: 2rem;
        background-color: #AECCF2;
        &__div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0.3rem;
            div{
                margin: 0 2rem;
                input{
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    border: none;
                }
            }
            &-submit{
                text-align: center;
                input{
                    width: 10rem;
                    height: 2rem;
                    margin-top: 1rem;
                    background-color: #65768C;
                    font-weight: bold;
                    border: none;
                    border-radius: 0.5rem;
                    color: #fff;
                }
                input:active {
                    background-color: #65768C80;
                }
            }
        }
    }
}

.form2{
    @extend .form1;
    .formDatosEmpleados{
        @extend .formDatosGenerales;
        &__div{
            @extend .formDatosGenerales__div;
            &-submit{
                @extend .formDatosGenerales__div-submit;
            }
        }
    }
}

.empleadosCargados{
    li{
        margin-bottom: 0.5rem;
        span{
            text-decoration: underline
        }
    }
}

.form3{
    @extend .form1;
    .formDatosLiquidacion{
        @extend .formDatosGenerales;
        &__div{
            @extend .formDatosGenerales__div;
            &-submit{
                @extend .formDatosGenerales__div-submit;
            }
        }
    }
}

.tablaReciboSueldo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &__in{
        max-width: 60rem;
        border-radius: 1rem;
        padding: 1rem;
        border: 2px solid #262626;
        background-color: #AECCF2;
        margin-bottom: 1rem;
        tr{
            th{
                border: 0.5px solid #26262630;
                background-color: #65768C;
                width: 10rem;
            }
            td{
                border: 0.5px solid #26262630;
                background-color: #C2E5F2;
            }
        }
    }
}

.totales{
    display: flex;
    justify-content: center;
    &__div{
        border: 2px solid #262626;
        border-radius: 1rem;
        padding: 2rem;
        background-color: #AECCF2;
        &__div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0.3rem;
            div{
                margin: 0 2rem;
            }
        }
    }
}
