html{
    font-family: 'Raleway', sans-serif;
    background-color: #AECCF290;
}

.titulo1{
    text-align: center;
    font-size: 2rem;
}

.titulo2{
    text-align: center;
    font-size: 1.8rem;
}

.subtitulo1{
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}

.subtitulo2{
    text-align: center;
}

.form1{
    display: flex;
    justify-content: center;
    .formDatosGenerales{
        border: 2px solid #262626;
        border-radius: 1rem;
        padding: 2rem;
        background-color: #AECCF2;
        &__div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0.3rem;
            div{
                margin: 0 2rem;
                input{
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    border: none;
                }
            }
            &-submit{
                text-align: center;
                input{
                    width: 10rem;
                    height: 2rem;
                    margin-top: 1rem;
                    background-color: #65768C;
                    font-weight: bold;
                    border: none;
                    border-radius: 0.5rem;
                    color: #fff;
                }
            }
        }
    }
}

.form2{
    display: flex;
    justify-content: center;
    .formDatosEmpleados{
        border: 2px solid #262626;
        border-radius: 1rem;
        padding: 2rem;
        background-color: #AECCF2;
        &__div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0.3rem;
            div{
                margin: 0 2rem;
                input{
                    border-radius: 0.5rem;
                    line-height: 1.5rem;
                    border: none;
                }
            }
            &-submit{
                text-align: center;
                input{
                    width: 10rem;
                    height: 2rem;
                    margin-top: 1rem;
                    background-color: #65768C;
                    font-weight: bold;
                    border: none;
                    border-radius: 0.5rem;
                    color: #fff;
                }
            }
        }
    }
}

.tablaReciboSueldo{
    display: flex;
    justify-content: center;
    &__in{
        border-radius: 1rem;
        padding: 1rem;
        border: 2px solid #262626;
        background-color: #AECCF2;
        tr{
            th{
                border: 0.5px solid #26262630;
                background-color: #65768C;
                width: 10rem;
            }
            td{
                border: 0.5px solid #26262630;
                background-color: #C2E5F2;
            }
        }
    }
}

.totales{
    display: flex;
    justify-content: center;
    &__div{
        border: 2px solid #262626;
        border-radius: 1rem;
        padding: 2rem;
        background-color: #AECCF2;
        &__div{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0.3rem;
            div{
                margin: 0 2rem;
            }
        }
    }
}
